<ion-header >
  <ion-toolbar color='primary'>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row  >
    <ion-col margin size-md="6" offset-md="3">
      <ion-item>
        <ion-label>Search Type</ion-label>
        <ion-toggle [(ngModel)]="searchByName" (ionChange)="promeniNacinPretrage()"></ion-toggle>
        <ion-searchbar [disabled]="!this.searchByName" (search)="search()" [(ngModel)]="searchText" color='success' animated showCancelButton="focus" placeholder="Type Service Name"></ion-searchbar>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row  >
    <ion-col margin size-md="6" offset-md="3">
      <ion-list *ngIf="searchByName">
        <ion-item *ngFor="let shop of searchResults | async" >
          <ion-label (click)='openProfile(shop)'>{{ shop.servisName + ' telefon servisa je :' + shop.phone}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!searchByName">
        <app-dodaj-uslugu *ngIf="(this.store.user |async)?.type === 'admin'"></app-dodaj-uslugu>
        <ion-item *ngFor="let usluga of usluge | async" >
          <drop-down-item [imeUsluge]="usluga.name" [pointeriNaServise]="usluga.pointers"></drop-down-item>
          <ion-icon *ngIf="(this.store.user |async)?.type === 'admin'" slot="end" (click)="izbrisiUslugu(usluga)" color='danger' name="trash-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
