<ion-card class="usluge">
  <ion-list *ngIf='!add'>
    <ion-item > <ion-icon (click)="dodaj()" color='success' name="add-outline"></ion-icon></ion-item>
  </ion-list>
  <ion-list *ngIf='add'>
    <ion-input [(ngModel)]='imeUsluge' (keydown.enter)='dodajUslugu()' showCancelButton="focus" placeholder="Ime Nove Usluge"></ion-input>
    <ion-item> <ion-icon (click)="odustani()" color='danger' name="close-outline"></ion-icon></ion-item>
  </ion-list>
</ion-card>