<ion-item  class="notif" >
  <ion-icon  name="chatbox-ellipses-outline"></ion-icon>
  <ion-text>
    {{ (sender | async)?.name }}
  </ion-text>
  <ion-icon *ngIf='this.notifikacija.seen' color='success' slot="end" name="checkmark-done-outline"></ion-icon>
</ion-item>
