<ion-card class="usluge">
  <ion-list *ngIf='!add'>
    <ion-item *ngFor='let usluga of usluge'> {{usluga}} </ion-item>
    <ion-item *ngIf='!this.store.searching' > <ion-icon (click)="dodaj()" color='success' name="add-outline"></ion-icon></ion-item>
  </ion-list>
  <ion-list *ngIf='add'>
    <ion-searchbar [(ngModel)]='imeUsluge' (search)='pretraziUsluge()' animated showCancelButton="focus" placeholder="Type Service Name"></ion-searchbar>
    <ion-item *ngFor='let usluga of dodajUsluge$ | async' (click)='dodajUslugu(usluga)'> {{usluga.name}} </ion-item>
    <ion-item> <ion-icon (click)="odustani()" color='danger' name="close-outline"></ion-icon></ion-item>
  </ion-list>
</ion-card>
