<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col size-md="6" offset-md="3">
  <form >
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Vrsta Naloga</ion-label>
          <ion-select name='vrsta' [(ngModel)]="tipNaloga" placeholder="Select One">
            <ion-select-option value="servis">Servis</ion-select-option>
            <ion-select-option value="klijent">Klijent</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Ime</ion-label>
          <ion-input name="ime" [(ngModel)]="ime" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Phone number</ion-label>
          <ion-input name="phone" [(ngModel)]="phone" type="text" required></ion-input>
        </ion-item>
        <div *ngIf="this.tipNaloga === 'servis'">
          <ion-item lines="full">
            <ion-label position="floating">Adresa</ion-label>
            <ion-input name="adresa" [(ngModel)]="adresa" type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea name="opis" [(ngModel)]="description" type="text" required></ion-textarea>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Naziv Servisa</ion-label>
            <ion-input name="naziv" [(ngModel)]="servisName" type="text" required></ion-input>
          </ion-item>
        </div>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input name="meil" [(ngModel)]="email" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" [(ngModel)]="pass" type="password" required></ion-input>
        </ion-item>
        <ion-row >
          <ion-col>
            <ion-button (click)="register()" type="submit" color="primary" expand="block">Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-col>
</ion-row>
</ion-content>
