.request{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  ion-textarea, ion-item{
    width: 100%;
  }
  .spacer{
    flex-grow: 1;
  }
  .dugmici{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
    >div{
      display: flex;
      flex-direction: row;
    }
    // ion-button{
    //   margin: 0 3em;
    // }
  }
  .message{
    margin: 15px auto;
  }
}
