<div class='request'>
  <div class='message'>
    <ion-label position="floating">Poruka</ion-label>
    <p>{{message ? message : ''  }}</p>
  </div>
  <ion-item>
    <ion-label position="floating">Poruka</ion-label>
    <ion-textarea rows="6" [(ngModel)]='poruka'></ion-textarea>
  </ion-item>
  <div class="spacer"></div>
  <div class='dugmici'>
    <div>
      <ion-button (click)='sendRequest()'>Send</ion-button>
      <ion-button (click)='cancleRequest()' >Cancle</ion-button>
    </div>
    <ion-button *ngIf="message" (click)='deleteRequest()' color='danger' >Delete</ion-button>
  </div>
</div>
