
<div class="drop-down">
  <p padding (click)='click()'>
    {{imeUsluge}}
  </p>
  <ion-list  [@fadeInOut]="dropDownOpen" >
    <ion-item *ngFor="let servis of servisiKojiNudeUslugu | async ; let i = index; ">
      <ion-avatar >
        <img [src]="(profileUrl | async) !== null ? (profileUrl | async)[i] : './assets/defAvatar.svg'" [alt]='' />
      </ion-avatar>
      <ion-text (click)='openProfile(i)' >{{ servis.servisName }}</ion-text>
    </ion-item>
  </ion-list>
</div>

