<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row >
    <ion-col size-md="4" offset-md="4">
      <input id="fileInput" type="file" style="display: none;"/>
      <ion-avatar (click)='postaviProfilnu()'>
        <img [src]="(profileUrl | async) ? (profileUrl | async) : './assets/defAvatar.svg'" [alt]='' />
      </ion-avatar>
      <p *ngIf="(user$ |async)?.type === 'servis' && editing !== true" class='ime-servisa'>{{(user$ |async)?.servisName}}</p>
      <ion-input color='primary' [(ngModel)]="user.servisName" *ngIf="(user$ |async)?.type === 'servis' && editing === true" [value]='(user$ |async)?.servisName'></ion-input>
      <ion-list>
        <ion-item>
          <ion-label *ngIf="editing !== true">{{(user$ |async)?.name}} </ion-label>
          <ion-input color='primary' [(ngModel)]="user.name" *ngIf="editing === true" [value]='(user$ |async)?.name'></ion-input>
            <ion-text slot="start">Ime:</ion-text>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="editing !== true">{{(user$ |async)?.phone}} </ion-label>
          <ion-input color='primary' [(ngModel)]="user.phone" *ngIf="editing === true" [value]='(user$ |async)?.phone'></ion-input>
            <ion-text slot="start">Telefon:</ion-text>
        </ion-item>
        <div *ngIf="(user$ |async)?.type === 'servis'">
          <ion-input [(ngModel)]="user.pruzaneUsluge" type='hidden' *ngIf="editing === true" [value]='(user$ |async)?.pruzaneUsluge'></ion-input>
          <ion-item>
            <ion-text *ngIf="editing !== true" >{{(user$ |async)?.description}} </ion-text>
            <ion-input color='primary' [(ngModel)]="user.description" *ngIf="editing === true" [value]='(user$ |async)?.description'></ion-input>
              <ion-text slot="start">Opis:</ion-text>
          </ion-item>
          <ion-item>
            <ion-label *ngIf="editing !== true" >{{(user$ |async)?.adress}} </ion-label>
            <ion-input color='primary' [(ngModel)]="user.adress" *ngIf="editing === true" [value]='(user$ |async)?.adress'></ion-input>
              <ion-text slot="start">Adresa:</ion-text>
          </ion-item>
        </div>
        <p *ngIf="(user$ |async)?.type === 'servis'" margin style="margin: 10px auto; font-style: italic;"> Usluge koje nudimo</p>
        <app-lista-usluga *ngIf="(user$ |async)?.type === 'servis'" [usluge]="(user$ |async)?.pruzaneUsluge"></app-lista-usluga>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab *ngIf='!this.store.searching' vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logout()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-fab-button>
      <ion-fab-button *ngIf="editing !== true" (click)="editProfile()"><ion-icon name="pencil-outline"></ion-icon></ion-fab-button>
      <ion-fab-button *ngIf="editing === true"  (click)="confirmEdit()"><ion-icon color='success' name="checkmark-done-outline"></ion-icon></ion-fab-button>
      <ion-fab-button *ngIf="editing === true" (click)="cancleEdit()"><ion-icon color='danger' fill='outline' name="close-circle-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab *ngIf='this.store.searching' vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='posaljiProuku()'>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="this.store.searching && (this.store.user |async)?.type === 'admin'" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)='obrisiKorisnika()'>
      <ion-icon color='danger' name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-input [(ngModel)]="user.type" type='hidden' *ngIf="editing === true" [value]='(user$ |async)?.type'></ion-input>
  <ion-input [(ngModel)]="user.id" type='hidden' *ngIf="editing === true" [value]='(user$ |async)?.id'></ion-input>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-button (click)="logout()" color="danger" >Logout</ion-button>
  <input type="file" (change)="onFileSelected($event)"  />
  <ion-avatar >
    <img [src]='profileUrl | async' />
  </ion-avatar> -->
</ion-content>


