ion-content{
  text-align: center;
}
ion-avatar{
margin: auto;
width: 200px;
height: 200px;
margin-top: 30px;
margin-bottom: 30px;

}
.ime-servisa{
  position: relative;
  top: -20px;
  font-size: 24px;

}
