<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      Notifikacije
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row >
    <ion-col size-md="6" offset-md="3">
      <ion-list>
        <notifikacija  *ngFor='let notifikacijaa of notifikacije | async'  (click)='openReply(notifikacijaa)' [notifikacija]='notifikacijaa'> </notifikacija>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
