<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CompRepair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col size-md="6" offset-md="3">
  <form >
    <ion-card>
      <ion-card-header>
        <ion-card-title> LogIn </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input name="meil" [(ngModel)]="email" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" (keydown.enter)="login()" [(ngModel)]="pass" type="password" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button (click)="login()" type="submit" color="success" expand="block">Sign In</ion-button>
            <p class="ion-text-center"> or </p>
            <ion-button (click)="registerPage()" type="submit" color="primary" expand="block">Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-col>
</ion-row>
</ion-content>
